:root {
    --white: #FFFFFF;
    --body: 'Inter', sans-serif !important;
}

body {
    font-family: var(--body) !important;
}

a {
    text-decoration: none !important;
}

table {
    border: 2px solid var(--white);
}
